<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <script src="/ajax/allmaster.ajax.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<link rel="stylesheet" href="/css/allmaster.css">
    <title>Document</title>
</head>
<body>
    <div class="inner-width">
        <div class="navigation-menu">
          <a href="/account/indexFishing" ><i class="fas fa-home home">  </i> Home</a>
          <a href="/allmaster" class="allmaster"><i class="fas fa-users">  All master</i></a>
          <a href="/allmaster/event" class="event"><i class="fas fa-clipboard">  </i>Event</a>
          <a href="/allmaster/chat"><i class="fas fa-comment-dots"></i>Message</a>
          <a href="/allmaster/warehouse"><i class="fas fa-shopping-cart"></i>Warehouse</a>
        </div>
		<div class="logout">
			<a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
		</div>
		 
      </div>
      <div class="swap">
<div class="searchForm">
<input type="search" id="search" placeholder="Search..." /><i class="fas fa-search"></i>
      </div>
      
      
    <div class="tdata">
        <table class="table ">
            <thead>
            <tr>
                <th>
                    Image
                </th>
                <th>
                    Name
                </th>
                <th>
                    Address
                </th>
                <th>
                    Booking
                </th>
                <th>message</th>
            </tr>
        </thead>
        <tbody >
        </tbody>
        </table>
        

    </div>
    <div class="page"></div>
      </div>
      
    <div class="footer">
          <div class="footer_left">
              <p><i class="fas fa-map-marker-alt"></i> <span>120 Trần Quang Trung</span> </p>
              <P><i class="fas fa-phone-alt"></i> <span>0943354332</span> </P>
              <P><i class="far fa-envelope"></i> <span>tuannvgch18078@fpt.edu.vn</span> </P>
          </div>
          <div class="footer_right">
              <h1>About Us</h1>
              <p>Are you a person who loves to fish but can't find a fishing lake? Are you a person with a fishing lake but not yet known by everyone? We provide a website to help connect fishinger and master so that everyone can meet their own needs. </p>
              <p><a href="https://www.facebook.com/profile.php?id=100011572681462"><i class="fab fa-facebook"></i></a>  <a href="https://www.instagram.com/taitu_tuan/"><i class="fab fa-instagram"></i></a>  <a href="https://github.com/tuankk1234567"><i class="fab fa-github"></i></a></p>
          </div>
      </div>
</body>
</html>