<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
        <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
        <script src="/ajax/warehouse.ajax.js"></script>
<link rel="stylesheet" href="/css/warehouse.css">
    <title>Document</title>
</head>
<body>
    <div class="inner-width">
        <div class="navigation-menu">
          <a href="/account/indexFishing" ><i class="fas fa-home home">  </i> Home</a>
          <a href="/allmaster" ><i class="fas fa-users">  </i>All master</a>
          <a href="/allmaster/event" class="event"><i class="fas fa-clipboard">  </i>Event</a>
          <a href="/allmaster/chat"><i class="fas fa-comment-dots"></i>Message</a>
          <a href="/allmaster/warehouse" class="warehouse"><i class="fas fa-shopping-cart">  Warehouse</i></a>
        </div>
		<div class="logout">
			<a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
		</div>
		 
      </div>
        <h1>Ticket store</h1>
    <div class="tdata">
        <table class="table ">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Date
                </th>
                <th>Time</th>
                <th>Price</th>
                <th>Address</th>
                <th>Bank name</th>
                <th>Name master</th>
                <th>Account number</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody >
           
        </tbody>
        </table>
</body>
</html>