<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <script src="/ajax/forgotpassword.ajax.js"></script>
    <link rel="stylesheet" href="/css/login.css">
   
    <title>Document</title>
</head>
<body>
    <header>
        <div class="signup-form">
            <h1>Forgot password</h1>
             <p><input type="text" id="email" name="email" placeholder="Email"></p>
            <p style = " color: red">{{message}}</p>
            <p><button id="btn">Enter</button></p>


        </div>
        


           
    </header>


</body>
</html>



    



