<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <script src="/ajax/login.ajax.js"></script>
    <link rel="stylesheet" href="/css/login.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="signup-form">

            <img src="/upload/anh3.jpg" alt="">
        


            <p><input type="text" id="email" name="email" placeholder="Email"></p>
            <p><input type="password" id="password" name="password" placeholder="Password"></p>
            <p><button id="btn">Login</button></p>
            <a href="/forgotpasswprd">Forgot password?</a>
            <a href="/register">Register</a>
            


        </div>

        
            
    </header>


</body>
</html>



    



