<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <script src="/ajax/register.ajax.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <div class="signup-form">
            <h1>Register</h1>
            <p><input type="text" id="email" name="email" placeholder="Email: VD: abc@abc.abc"></p>
            <p class="txt_email">Email: VD: abc@abc.abc</p>
            <p><input type="text" id="name" name="name" placeholder="Name"></p>
            <p class="txt_name">Name is required!</p>
            <p><input type="password" id="password" name="password" placeholder="Password"></p>
            <p class="txt_password">Password is required!</p>
            <p><input type="hidden" id="role" name="role" value="fishing"></p>
             <p><input type="text" id="phone" name="phone" placeholder="Phone"></p>
             <p class="txt_phone">Phone is required and is number(>8)!</p>
            <p><input type="text" id="address" name="address" placeholder="Address"></p>
            <p class="txt_address">Address is required!</p>
            <p><input type="text" id="bank" name="bank" placeholder="Bank"></p>
            <p class="txt_bank">Bank is required!</p>
            <p><input type="text" id="stk" name="stk" placeholder="Enter stk"></p>
            <p class="txt_stk">Stk is required and is number(>8)!</p>
            <p><button id="btn">Register</button></p>

        </div>



            
            
    </header>


</body>
</html>



    



