<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/test.css">
    <script src="jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <title>Document</title>
</head>
<body>
    <body>
  <div class="table-box">
        <div class="table-row table-head">
            <div class="table-cell first-cell">
                <p>Easy Tutorials Videos</p>
            </div>
            <div class="table-cell">
                <p>Likes</p>
            </div>
            <div class="table-cell last-cell">
                <p>YouTube Link</p>
            </div> 
        </div>


        <div class="table-row">
            <div class="table-cell first-cell">
                <p>Business Website Tutorial</p>
            </div>
            <div class="table-cell">
                <p>999</p>
            </div>
            <div class="table-cell last-cell">
                <a href="https://youtu.be/99vHH_6F0Ko">Watch Now</a>
            </div>   
        </div>


</div>   
</body>
</html>