*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
  }
  
  
  .inner-width{
    height: 65px;
    background-color: #2f3640;
  }
  
  
  .navigation-menu{
    float: left;
  margin: 15px 10px 0 20px;
}

.navigation-menu i{
  text-align: center;
  margin-left: 10px;
  color: whitesmoke;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 4px;
  transition: .3s linear;
  cursor: pointer;
}

.navigation-menu i:hover{
  background: #fff;
  color: #2f3640;
  transform: scale(1.1);
}
  .logout{
    float: right;
    margin: 20px 10px 0 0;
  }
  .logout a{
    text-align: center;
    margin-left: 10px;
    color: whitesmoke;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: .3s linear;
  }
  
  
  .logout a:hover{
    background: #fff;
    color: #2f3640;
    transform: scale(1.1);
  }
  
  .logout i{
    margin-right: 8px;
    font-size: 16px;
  }
  .swap{
    width: 100%;
    min-height: 600px;
    background-color: rgb(233, 227, 227);
  }
  .left{
    float: left;
    margin-top: 30px;
    margin-left: 30px;
    width: 15%;
    text-align: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .left h1{
    margin-bottom: 20px;
  }
  .left p{
    margin-bottom: 5px;
    word-wrap: break-word;
  }

  table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    width: 80%;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
    background-color: white;
  }
  td, th{
    border: 1px solid #cccccccc;
    padding: 8px;
  }
  th{
    font-weight: bold;
    text-transform: uppercase;
    background-color: #2f3640;
    color: white;
  }

  .da{
    background-color: #dddddd;
  }
  .addbtn{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: #fff;
    background-color: #2f3640;
    cursor: pointer;
  }
  .addbtn:hover{
    transform: scale(1.1);
  }

  .footer{
    width: 100%;
    height: 220px;
    background-color: #2f3640;
  }
  .footer .footer_left{
    float: left;
    width: 35%;
    height: 70%;
    margin: 20px auto auto 7%;
  }
  .footer .footer_left p{
    font-size: 20px;
  }
  .footer .footer_left .fas,.footer .footer_left .far{
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    margin: 15px 20px auto auto;
  }
  .footer .footer_left i {
    position: relative;

  }
  .footer .footer_left span {
    color: white;
  }
  .footer .footer_right{
    float: right;
    width: 40%;
    height: 70%;
    margin: 20px 7% auto auto;
  }
  .footer .footer_right h1{
    color: white;
    margin-bottom: 20px;
  }
  .footer .footer_right p{
    color: white;
    margin-bottom: 20px;
    font-size: 17px;
  }
  .footer .footer_right a{
    color: white;
    margin-right: 30px;
    font-size: 30px;
  }