*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
  }
  
  
  .inner-width{
    height: 65px;
    background-color: #2f3640;
  }
  
  
  .navigation-menu{
      float: left;
    margin: 20px 10px 0 0;
  }
  
  .navigation-menu a{
    text-align: center;
    margin-left: 10px;
    color: whitesmoke;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: .3s linear;
    text-decoration: none;
  }
  .event{
    background: #fff;
  }
  .event i{
    
    color: #2f3640;
  }

  
  .navigation-menu a:hover{
    background: #fff;
    color: #2f3640;
    transform: scale(1.1);
  }
  
  .navigation-menu i{
    margin-right: 8px;
    font-size: 16px;
  }
  .logout{
    float: right;
    margin: 20px 10px 0 0;
  }
  .logout a{
    text-align: center;
    margin-left: 10px;
    color: whitesmoke;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: .3s linear;
  }
  
  
  .logout a:hover{
    background: #fff;
    color: #2f3640;
    transform: scale(1.1);
  }
  
  .logout i{
    margin-right: 8px;
    font-size: 16px;
  }


  .swap{
      margin-top:50px;

  }

  .infor{
      height:auto;
      width: 700px;
      margin: auto;

  }
  .infor img{
      width:50px;
      height:50px;
      border-radius:50%;
      margin-top: -50px;
  }

  .infor textarea{
      margin-left: 20px;
  }
  .infor input{
      margin-top:10px;
      margin-left: 18%;
  }

  .infor button{
      width:100px;
      height:30px;
      border-radius:15px;
      font-size:17px;
      border:none;
      background: #2f3640;
      color:whitesmoke;
      cursor:pointer;
      margin-left:18%;
      margin-top:10px;
  }
  .infor button:hover{
    transform: scale(0.9);
}
  .PostForm{
      margin-top:30px;
  }
  .PostForm .formevent{
      margin: 20px auto auto auto;
      width:700px;
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
      border-radius:20px;
  }
  .PostForm .formevent img{
      width:700px;
      height:700px;
  }
  .PostForm .formevent .imgUser{
    width:50px;
    height:50px;
    border-radius:50%;
    margin-top: 7px;
    margin-left: 10px;

  }
  .PostForm .formevent a{
    text-decoration: none;
    color:  #2f3640;

  }
  .date{
    margin-left: 10px;
  }
  .PostForm .formevent .write{
      font-size:20px;
      margin: 5px auto 5px 15px;


  }
  .PostForm .formevent .like {
      display:inline;
      margin-right: 50px;
      cursor:pointer;
      margin: 5px 20% 5px 10px;
      outline:none;


  }
  .PostForm .formevent .like .fas {
      font-size:23px;
      color: #2f3640;

  }
  .PostForm .formevent .like1 {
    display:inline;
    margin-right: 50px;
    cursor:pointer;
    margin: 5px 20% 5px 10px;
    outline:none;


}
.PostForm .formevent .like1 .fas {
    font-size:23px;

}
  .PostForm .formevent button{
      border:none;
      background-color:white;
      cursor:pointer;
      outline:none;
  }
  .PostForm .formevent button i{
    font-size:23px;
    outline:none;
  }

  .modal1 {
    position: fixed;
    z-index: 5; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow-x:hidden;
    overflow-y:auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  

  .modal-content1 {
    background-color: #fefefe;
    margin: auto auto auto auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 700px;
    
  }
  
  .close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -15px;
    margin-right: -15px;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(31, 27, 216);
    text-decoration: none;
    cursor: pointer;
  }


  .datacomment1{
    width: 100%;
    height: auto;
    margin-top: 5px;

  }
   .datacomment1 img{
    width:50px;
    height:50px;
    border-radius:50%;

  }
  .datacomment1 .comment1{
      border: 1px solid  #2f3640;
      border-radius:15px;
      width: 90%;
      margin: -45px auto auto 60px;
      text-align: left;
  }
  .datacomment1 .comment1 .date{
    font-size: 12px;

  }
  .datacomment1 .comment1 .commentdata{
    margin: auto auto auto 20px;
    word-wrap: break-word;
  }
  .commentForm textarea{
      margin: 20px auto auto 67px;
      width:70%;
  }
  .commentForm button{
    margin-top: 18px;
      width:120px;
      height:30px;
      border-radius:10px;
      background: #2f3640;
      color:whitesmoke;
      border:none;
      cursor:pointer;
      float: right;

  }
  .page{
    width:700px;
    margin: 30px auto 30px auto;
  }
  .page .Next{
    width: 100px;
    background-color:  #2f3640;
    color: white;
    border: none;
    outline: none;
    border-radius: 15px;
    height: 30px;
    float: right;
    margin-bottom: 30px;
    cursor: pointer;
  }
  .page .Next:hover{
    transform: scale(1.1);
  }
  .page .Previous{
    width: 100px;
    background-color:  #2f3640;
    color: white;
    border: none;
    outline: none;
    border-radius: 15px;
    height: 30px;
    float: left;
    margin-bottom: 30px; 
    cursor: pointer;
  }
  .page .Previous:hover{
    transform: scale(1.1);
  }



