*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
  }
  
  
  .inner-width{
    height: 65px;
    background-color: #2f3640;
  }
  
  
  .navigation-menu{
      float: left;
    margin: 20px 10px 0 0;
  }
  
  .navigation-menu a{
    text-align: center;
    margin-left: 10px;
    color: whitesmoke;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: .3s linear;
  }
  .home {
    background: #fff;
  }
  .home i{

    color: #2f3640;
  }

  
  .navigation-menu a:hover{
    background: #fff;
    color: #2f3640;
    transform: scale(1.1);
  }
  
  .navigation-menu i{
    margin-right: 8px;
    font-size: 16px;
  }
  .logout{
    float: right;
    margin: 20px 10px 0 0;
  }
  .logout a{
    text-align: center;
    margin-left: 10px;
    color: whitesmoke;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: .3s linear;
  }
  
  
  .logout a:hover{
    background: #fff;
    color: #2f3640;
    transform: scale(1.1);
  }
  
  .logout i{
    margin-right: 8px;
    font-size: 16px;
  }
  .information{
    width: 100%;
    height: 600px;
    background-color: rgb(233, 227, 227);
  }

  .left{
    margin-top: 20px;
    margin-left: 5%;
    float: left;
    width: 30%;
    height: 550px;
    text-align: center;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  .left img{
    width: 70%;
    height: 70%;
    border-radius: 50%;
    margin-top: 15px;
  }
  .left p{
    font-size: 25px;
    margin-top: 15px;
  }
  .left button{
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    outline: none;
  }
  .left button:hover{
    color: blue;
  }
  .right{
    margin-top: 20px;
    float: right;
    margin-right: 5%;
    width: 55%;
    height: 550px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: white;
  }
  .right .t{
    margin-top: 25px;
    font-size: 30px;
    margin-left: 50px;
  }
  .right r{
    margin-top: 40px;
  }
  .right p {
    border-bottom:#242222 solid 1px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .right label{
    margin-top: 20px;
    font-size: 25px;
    margin-right: 20px;
  }
  .right input{
    margin-top: 20px;
    border: none;
    font-size: 25px;
    outline: none;
    margin-left: 5px;
  }
  .right .imageUrl{
    margin-top: 20px;
    border: none;
    font-size: 25px;
    outline: none;
    margin-left: 50px;
  }
  




    .modal {
    position: fixed;
    z-index: 5; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  

  .modal-content {
    background-color: #fefefe;
    margin: auto auto auto auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 280px;
    height: 290px;
  }
  


  .text{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
  }

  .modal input{
    border: none;
    border-bottom:1px solid #2f3640;
    width: 100%;
    height: 35px;
    margin-top: 5px;
    outline: none;
  }
  .modal #btnUpdate{
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #2f3640;
    cursor: pointer;
    position: absolute;
    margin: 20px auto auto 5%;
  }
  .modal #btnUpdate:hover{
    transform: scale(0.95);
  }

  
  
  .close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -15px;
    margin-right: -15px;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(31, 27, 216);
    text-decoration: none;
    cursor: pointer;
  }
  .footer{
    width: 100%;
    height: 220px;
    background-color: #2f3640;
  }
  .footer .footer_left{
    float: left;
    width: 35%;
    height: 70%;
    margin: 20px auto auto 7%;
  }
  .footer .footer_left p{
    font-size: 20px;
  }
  .footer .footer_left .fas,.footer .footer_left .far{
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    margin: 15px 20px auto auto;
  }
  .footer .footer_left i {
    position: relative;

  }
  .footer .footer_left span {
    color: white;
  }
  .footer .footer_right{
    float: right;
    width: 40%;
    height: 70%;
    margin: 20px 7% auto auto;
  }
  .footer .footer_right h1{
    color: white;
    margin-bottom: 20px;
  }
  .footer .footer_right p{
    color: white;
    margin-bottom: 20px;
    font-size: 17px;
  }
  .footer .footer_right a{
    color: white;
    margin-right: 30px;
    font-size: 30px;
  }
  
  