*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
  }
  
  
  .inner-width{
    height: 65px;
    background-color: #2f3640;
  }
  
  
  .navigation-menu{
      float: left;
    margin: 20px 10px 0 0;
  }
  
  .navigation-menu a{
    text-align: center;
    margin-left: 10px;
    color: whitesmoke;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: .3s linear;
  }
  .warehouse {
    background: #fff;
  }
  .warehouse i{
    color: #2f3640;
  }

  
  .navigation-menu a:hover{
    background: #fff;
    color: #2f3640;
    transform: scale(1.1);
  }
  
  .navigation-menu i{
    margin-right: 8px;
    font-size: 16px;
  }
  .logout{
    float: right;
    margin: 20px 10px 0 0;
  }
  .logout a{
    text-align: center;
    margin-left: 10px;
    color: whitesmoke;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: .3s linear;
  }
  
  
  .logout a:hover{
    background: #fff;
    color: #2f3640;
    transform: scale(1.1);
  }
  
  .logout i{
    margin-right: 8px;
    font-size: 16px;
  }
  .swap{
    width: 100%;
    min-height: 600px;
    background-color: rgb(233, 227, 227);
  }
  h1{
    text-align: center;

  }

  table{
    border-collapse: collapse;
    width: 95%;
    text-align: center;
    margin: 10px auto auto auto;
  }
  td, th{
    border: 1px solid #cccccccc;
    padding: 8px;
  }
  th{
    font-weight: bold;
    text-transform: uppercase;
    background-color: #2f3640;
    color: white;
  }

  .da{
    background-color: #dddddd;
  }
  .footer{
    width: 100%;
    height: 220px;
    background-color: #2f3640;
  }
  .footer .footer_left{
    float: left;
    width: 35%;
    height: 70%;
    margin: 20px auto auto 7%;
  }
  .footer .footer_left p{
    font-size: 20px;
  }
  .footer .footer_left .fas,.footer .footer_left .far{
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    margin: 15px 20px auto auto;
  }
  .footer .footer_left i {
    position: relative;

  }
  .footer .footer_left span {
    color: white;
  }
  .footer .footer_right{
    float: right;
    width: 40%;
    height: 70%;
    margin: 20px 7% auto auto;
  }
  .footer .footer_right h1{
    color: white;
    margin-bottom: 20px;
    float: left;
  }
  .footer .footer_right p{
    color: white;
    margin-bottom: 20px;
    font-size: 17px;
    float: left;
  }
  .footer .footer_right a{
    color: white;
    margin-right: 30px;
    font-size: 30px;
  }