<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <script src="/ajax/allmaster.ajax.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<link rel="stylesheet" href="/css/allmaster.css">
    <title>Document</title>
</head>
<body>
    <div class="inner-width">
        <div class="navigation-menu">
          <a href="/"><i class="fas fa-clipboard"></i>Event</a>
          <a href="/all-master" class="allmaster"><i class="fas fa-users">  All master</i></a>
        </div>
		<div class="logout">
			<a href="/login"><i class="fas fa-sign-out-alt"></i>Login</a>
		</div>
		 
      </div>
      <div class="searchForm">
<input type="search" id="search" placeholder="Search..." /><i class="fas fa-search"></i>
      </div>
      
    <div class="tdata">
        <table class="table ">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Address
                </th>
                <th>
                    Booking
                </th>
                <th>message</th>
            </tr>
        </thead>
        <tbody >
        </tbody>
        </table>
        

    </div>
</body>
</html>