<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<link rel="stylesheet" href="/css/homepage.css">
<script src="/ajax/information.ajax.js"></script>
	<!--CSS -->
	
	<title>Personal page</title>

	<!------JavaScript------>
	
</head>

<body>
	<div class="inner-width">
        <div class="navigation-menu">
          <a href="/account/indexFishing"  class="home" ><i class="fas fa-home home">  Home</i> </a>
          <a href="/allmaster"><i class="fas fa-users"></i>All master</a>
          <a href="/allmaster/event" class="event"><i class="fas fa-clipboard">  Event</i></a>
          <a href="/allmaster/chat"><i class="fas fa-comment-dots"></i>Message</a>
          <a href="/allmaster/warehouse"><i class="fas fa-shopping-cart"></i>Warehouse</a>
        </div>
		<div class="logout">
			<a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
		</div>
		 
      </div>
	  <div class="information"></div>
	  <div class="formchange"></div>
	


    
		
</body>
</html>