<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/homepage.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<script src="/ajax/information.ajax.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="inner-width">
        <div class="navigation-menu">
          <a href="/account/indexMaster" class="home"><i class="fas fa-home home">  Home</i> </a>
          <a href="/master/event"><i class="fas fa-clipboard"></i>Event</a>
          <a href="/master/chat"><i class="fas fa-comment-dots"></i>Message</a>
          <a href="/master/manageTicket"><i class="fas fa-clipboard-list"></i>Manage ticket</a>
        </div>
		<div class="logout">
			<a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
		</div>
		 
      </div>
	  <div class="information"></div>
	  <div class="formchange"></div>
</body>
</html>