<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/profile.css">
<script src="/ajax/profile.ajax.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="inner-width">
        <div class="navigation-menu">
         <i class="fas fa-chevron-left"> <span onclick="back()">Back</span></i>
        </div>
		 
      </div>
	  <div class="information"></div>
      <input type="hidden" id="_id" name="_id" value="{{_id}}">
	  <div class="PostForm"></div>
      <div class="footer">
          <div class="footer_left">
              <p><i class="fas fa-map-marker-alt"></i> <span>120 Trần Quang Trung</span> </p>
              <P><i class="fas fa-phone-alt"></i> <span>0943354332</span> </P>
              <P><i class="far fa-envelope"></i> <span>tuannvgch18078@fpt.edu.vn</span> </P>
          </div>
          <div class="footer_right">
              <h1>About Us</h1>
              <p>Are you a person who loves to fish but can't find a fishing lake? Are you a person with a fishing lake but not yet known by everyone? We provide a website to help connect fishinger and master so that everyone can meet their own needs. </p>
              <p><a href="https://www.facebook.com/profile.php?id=100011572681462"><i class="fab fa-facebook"></i></a>  <a href="https://www.instagram.com/taitu_tuan/"><i class="fab fa-instagram"></i></a>  <a href="https://github.com/tuankk1234567"><i class="fab fa-github"></i></a></p>
          </div>
      </div>
      
      
</body>
</html>