<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="/socket.io/socket.io.js"></script>
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <script src="/ajax/chat.ajax.js"></script>
    <link rel="stylesheet" href="/css/chat.css">
    <title>Document</title>
</head>
<body>
    <div class="inner-width">
        <div class="navigation-menu">
          <a href="/account/indexMaster" ><i class="fas fa-home home"></i>Home </a>
          <a href="/master/event" ><i class="fas fa-clipboard"></i>Event</a>
          <a href="/master/chat" class="message"><i class="fas fa-comment-dots">  Message</i></a>
          <a href="/master/manageTicket"><i class="fas fa-clipboard-list"></i>Manage ticket</a>
        </div>
		<div class="logout">
			<a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
		</div>
		 
      </div>
      <div class="swap">
        <div class="left"></div>
        <div class="right">
            <div class="msger-chat">


            </div>
              <div class="msger-inputarea">
    
  </div>
        </div>
        
          
    
    
    </div>
    <input  type="hidden" value = "{{data.imageUrl}}" id="imageUrl">
    <input type="hidden" value="{{data._id}}" id="idUser">
    <input type="hidden" value="{{data.name}}" id="name">
    





    
</body>
</html>